.container {
  width: 1000px;
  margin: 0 auto;
}

.projectList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.images {
  margin: 5px;
}

.activeButton {
  background-color: rgb(129, 129, 134);
}